<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Sasac_AutoTest" preserve-order="true">
    <listeners>
        <listener class-name="org.uncommons.reportng.HTMLReporter"/>
        <listener class-name="org.uncommons.reportng.JUnitXMLReporter"/>
    </listeners>


    <test name="creatItem" preserve-order="true">
        <classes>
            <class name="cn.sasac.cases.ticketGroup.ProjectSigningTest"></class>
        </classes>
    </test>


</suite>
